<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- 1. Bootstrap first -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-…"
      crossorigin="anonymous"
    >
  
    <!-- 2. Chosen style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
<body>
  <header>
    <nav>
      <div class="nav-container">
        <a href="/" class="logo">Maud Gesbert</a>
        <ul class="nav-links">
          <li><a href="/">Accueil</a></li>
          <li><a href="/projects/heart_disease">Projet Maladie Cardiaque</a></li>
          <li><a href="/projects/lite">Projet Lite</a></li>
          <li><a href="/cv">CV</a></li>
        </ul>
      </div>
    </nav>
  </header>

  {% set lang = request.args.get('lang', 'fr') %}
  <div class="language-switcher">
    {% if request.endpoint == 'home' %}
      <a href="{{ url_for('home', lang='en' if lang == 'fr' else 'fr') }}" class="lang-btn">
        {{ 'English' if lang == 'fr' else 'Français' }}
      </a>
    {% elif request.endpoint == 'heart_disease' %}
      <a href="{{ url_for('heart_disease', lang='en' if lang == 'fr' else 'fr') }}" class="lang-btn">
        {{ 'English' if lang == 'fr' else 'Français' }}
      </a>
    {% elif request.endpoint == 'cv' %}
      <a href="{{ url_for('cv', lang='en' if lang == 'fr' else 'fr') }}" class="lang-btn">
        {{ 'English' if lang == 'fr' else 'Français' }}
      </a>
    {% elif request.endpoint == 'show_project' and request.view_args.project == 'lite' %}
      <a href="{{ url_for('show_project', project='lite', lang='en' if lang == 'fr' else 'fr') }}" class="lang-btn">
        {{ 'English' if lang == 'fr' else 'Français' }}
      </a>
    {% else %}
      <!-- Autres pages à ajouter ici -->
    {% endif %}
  </div>
  

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>© 2025 Maud Gesbert. Tous droits réservés.</p>
  </footer>

  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-…"
  crossorigin="anonymous"
></script>

</body>
</html>
