{% extends "base.html" %}
{% block title %}Home - Maud Gesbert{% endblock %}
{% block content %}
<div class="centered-content">
    <h1>Welcome</h1>
    <h2>Maud Gesbert – Data Scientist</h2>

    <p>Explore my data science projects:<br>
    <a href="{{ url_for('heart_disease', lang='en') }}">Heart Disease Risk Prediction</a>
    </p><br>

    <p>Explore my data analysis projects:<br>
    <a href="/projects/lite?lang=en">Lite - Energy consumption of electric cars</a>
    </p><br><br>

    <p>View a more complete version of my resume:<br>
    <a href="/cv?lang=en">Resume</a>
    </p>

    <p>Find each project's code on github<br>
       https://github.com/MaudGes/Maud_Gesbert-Portfolio/tree/main/templates/projects
     </p><br><br>

</div>
{% endblock %}
