{% extends "base.html" %}
{% block title %}Accueil - Maud Gesbert{% endblock %}
{% block content %}
<div class="centered-content">
  <h1>Bienvenue</h1>
  <h2>Maud Gesbert – Data Scientist</h2>

  <p>Explorez mes projets de science des données<br>
      <a href="/projects/heart_disease">Prédiction sur la possibilité de développer une maladie cardiaque</a>
  </p><br><br>

  <p>Explorez mes projets d'analyses des données<br>
      <a href="/projects/aloe">Analyse des ventes d'une jeune entreprise</a>
  </p><br><br>

  <p>Parcourez une version plus complète de mon CV<br>
      <a href="/cv">CV</a>
  </p><br><br>

  <p>Retrouvez le code des projets sur github<br>
     https://github.com/MaudGes/Maud_Gesbert-Portfolio/tree/main/templates/projects
  </p><br><br>
  

</div>
{% endblock %}
