{% extends "base.html" %}
{% block title %}Accueil - Maud Gesbert{% endblock %}
{% block content %}
<div class="centered-content">
  <h1>Bienvenue</h1>
  <h2>Maud Gesbert – Data Scientist</h2>

  <p>Explorez mes projets de science des données<br>
      <a href="/projects/heart_disease">Modèle pour prédire évaluer la possibilité de développer une maladie cardiaque</a><br>
      <a href="/projects/seattle">Modèle pour prédire la consommation en énergie de bâtiments à Seattle</a>
  </p><br><br>

  <p>Explorez mes projets d'analyses des données<br>
      <a href="/projects/aloe">Analyse des ventes d'une jeune entreprise</a>
  </p><br><br>

  <p>Parcourez une version plus complète de mon CV<br>
      <a href="/cv">CV</a>
  </p><br><br>

  <p>
    <a href="https://github.com/MaudGes/Maud_Gesbert-Portfolio/tree/main/templates/projects" 
       target="_blank" rel="noopener noreferrer" 
       style="font-size: 1rem; text-decoration: none; color: inherit; cursor: pointer;">
      Retrouvez le code des projets sur GitHub<br>
      <i class="fab fa-github"></i>
    </a>
  </p>

  <p>
    <a href="https://www.linkedin.com/in/maud-g-a48697107/"
       target="_blank" rel="noopener noreferrer" 
       style="font-size: 1rem; text-decoration: none; color: inherit; cursor: pointer;">
      Retrouvez moi sur LinkedIn<br>
      <i class="fab fa-linkedin"></i>
    </a>
  </p>
  

</div>
{% endblock %}
